*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #f7f3f4;
    border-bottom: 2px solid #00000046;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    
}

.navbar:first-child{
    padding-left: 10px;
}

.navbar:last-child{
    padding-right: 10px;
}
.logo{
    width: 70px;
    
}
.botones{
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.bt2{
    background-color: #1bb76e;
}

.bt2:hover{
    background-color: #08ac5f;
    box-shadow: 1px 1px #08ac5f;
}

.login{
    background-color: #4eb8d3;
}
.login:hover{
    background-color: #348ca1;
    box-shadow: 1px 1px #0e83a7;
}
.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.buscar > input{
    border: none;
    outline: none;
    
}
.buscar:focus-within{
    border: 1px solid blue;
}

.generico:hover{
    color: blue;
    transform:scale(1.1);
}

.contenedor_img{
    width: 240px;
    height: 300px;
    display: flex;
}

.contenedor_img > img{
    object-fit:cover;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 10px;
    
}

.seccion_perros{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.seccion_perros > li:hover{
    transform: scale(1.02);
}

.seccion_perros > li{
    background-color: rgb(78, 78, 90);
    border-radius: 10px;

}

span{
    color: white;
    font-size:20px;
    padding: 10px;
    font-weight: bold;
    ;

}
.title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.detalles{
    margin: 15px 10px 8px 10px;
    color: white;
    font-weight: bold;
}